<div id="<%= dom_id beer_club %>">
  <h2>
    <%= beer_club.name %>
  </h2>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

    <p>
    <% unless beer_club.members.empty? %>
      <div data-testid="confirmed-member">
        <% unless @confirmed_memberships.empty? %>
          <strong>Members:</strong>
          </p>
          <% beer_club.memberships.confirmed&.each do |m| %>
          <p>
            <%= link_to m.user.username, m.user %>
          </p>
          <% end %>
        <% end %>
      </div>
      <div data-testid="pending-member">
        <% unless @pending_memberships.empty? %>
          <strong>Membership applications:</strong>
            <% beer_club.memberships.pending&.each do |m| %>
          <p></p>
            <%= link_to m.user.username, m.user %>
            <%= link_to "Confirm", toggle_membership_membership_path(m.id),
                data: {turbo_method: "post"}, class: "btn btn-outline-primary btn-sm" if confirmed_member(@beer_club) %>
          <p></p>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p> This beer club has no members. </p>
    <% end %>

</div>
