<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <h3>
      <%= "#{user.username}" %>
    </h3>
    <% if user.blocked? && current_user&.admin? %>
      <span class="badge bg-primary">Account closed</span>
    <% end %>
    <p>
      <%= user.rating_summary %>
    </p>
    <p>
      <%= "Favorite beer style: #{user.favorite_style}" unless user.ratings.empty? %>
    </p>
    <p>
      <%= "Favorite brewery: #{user.favorite_brewery}" unless user.ratings.empty? %>
    </p>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to("Create new user", new_user_path, class:'btn btn-primary') %>
