<div id="<%= dom_id @user %>">
  <p>
    <h2>Userpage of
        <%= @user.username %>
    </h2>
  </p>
  <% if @user.blocked? && @current_user&.admin? %>
    <span class="badge bg-primary">Account closed</span>
  <% end %>
  <p>
    <%= @user.rating_summary %>
  </p>
  <p>
    <%= "Favorite beer style: #{@user.favorite_style}" unless @user.ratings.empty? %>
  </p>
  <p>
    <%= "Favorite brewery: #{@user.favorite_brewery}" unless @user.ratings.empty? %>
  </p>

  <% unless @user.ratings.empty? %>
    <h3>Ratings</h3>
    <%= render partial: 'ratings' %>
  <% end %>

  <%= turbo_frame_tag "beer_recommendation_tag", src: recommendation_user_path do %>
    Calculating the recommendation...
  <% end %>

  <% unless @user.beer_clubs.empty? %>
    <h3>Beer clubs</h3>
    <% unless @user.memberships.confirmed.empty?%>
      <h4>Member of</h4>
      <div data-testid="confirmed-member">
        <ul>
          <% @user.memberships.confirmed.each do |m| %>
            <li>
              <%= link_to m.beer_club.name, m.beer_club %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% unless @user.memberships.pending.empty?%>
      <h4>Applied member of</h4>
      <div data-testid="pending-member">
        <ul>
          <% @user.memberships.pending.each do |m| %>
            <li>
              <%= link_to m.beer_club.name, m.beer_club %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% else %>
    <p>User has no memberships in beer clubs. </p>
  <% end %>
</div>

<div>
  <%= user_edit_and_destroy_buttons(@user, @current_user) %>
  <% if @user.blocked? %>
    <% button_text = "Open account" %>
  <% else %>
    <% button_text = "Close account" %>
  <% end %>
  <%= link_to button_text, toggle_status_user_path(@user.id),
    data: {turbo_method: "post"}, class: "btn btn-danger" if current_user&.admin? %>
  <p></p>
  <%= link_to "Back to users", users_path %>
</div>
