<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @user %>">
  <p>
    <h2>Username:</h2>
    <strong>
      <%= @user.username %>
    </strong>
  </p>
  <p>
    <%= @user.rating_summary %>
  </p>

  <% if not @user.ratings.empty? %>
    <h3>Ratings</h3>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li> <%= rating.to_s %> <%= link_to 'Delete', rating, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' } %> </li>
      <% end %>
    </ul>
  <% end %>

  <% if not @user.beer_clubs.empty? %>
    <h3>Member of</h3>
    <% @user.beer_clubs.each do |club| %>
    <p>
      <%= link_to club.name, club %>
    </p>
    <% end %>
  <% else %>
    <p>User has no memberships in beer clubs. </p>
  <% end%>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
