<div id="<%= dom_id @user %>">
  <p>
    <h2>Username:</h2>
    <strong>
      <%= @user.username %>
    </strong>
  </p>
  <p>
    <%= @user.rating_summary %>
  </p>
  <p>
    <%= "Favorite beer style: #{@user.favorite_style}" unless @user.ratings.empty? %>
  </p>
  <p>
    <%= "Favorite brewery: #{@user.favorite_brewery}" unless @user.ratings.empty? %>
  </p>

  <% if not @user.ratings.empty? %>
    <h3>Ratings</h3>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li> <%= rating.to_s %> 
          <% if @user == current_user %>
            <%= link_to 'Delete', rating, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' } %>
          <%end%> 
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if not @user.beer_clubs.empty? %>
    <h3>Member of</h3>
    <ul>
      <% @user.beer_clubs.each do |club| %>
        <li>
          <%= link_to club.name, club %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>User has no memberships in beer clubs. </p>
  <% end %>
</div>

<div>
  <%= edit_and_destroy_buttons(@user) if @user == current_user%>
  <p></p>
  <%= link_to "Back to users", users_path %>
</div>
