<p style="color: green"><%= notice %></p>

<h2>List of ratings</h2>
<%= "Number of ratings: #{@ratings.count}" %>

<div id="ratings">
  <ul>
    <% @ratings.each do |rating| %>
      <% user = rating.user %>
      <li> <%= rating.to_s %> <%= link_to user.username, user %> </li>
    <% end %>
  </ul>
</div>

<% if current_user %>
  <%= link_to "Create new rating", new_rating_path %>
<% end %>
