<div id="<%= dom_id @style %>">
  <h2>
    <%= @style.name %>
  </h2>

  <quote>
    <%= @style.description %>
  </quote>
  <p></p>
  <% unless @style.beers.empty? %>
    <strong> Beers:</strong>
    <ul>
        <% @style.beers.each do |beer| %>
            <li><%= link_to beer.name, beer %></li>
        <% end %>
    </ul>
  <% end %>

  <%= edit_and_destroy_buttons_admin(@style) %>
  <%= link_to "Back to styles", styles_path, class:"btn btn-primary" %>

</div>