<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
      <% unless brewery.active %>
        <span class="badge bg-secondary">Retired</span>
      <% end %>
  </h2>

  <p>
    <em> Established in
    <%= brewery.year %></em>
  </p>

  <p> Beers count: 
  <%= brewery.beers.count %>
  </p>

  <h3>Beers</h3>
  <% cache @brewery do %>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Style</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @brewery.beers.each do |beer| %>
          <tr>
            <th scope="row"><%= link_to beer.name, beer %></th>
            <td><%= beer.style.name %></td>
            <td><%= round(beer.average_rating) %></td>
          </tr> 
          <% end %>
      </table>
    </div>

    <p>
      <% if brewery.ratings.empty? %>
        Brewery has no ratings.
      <% else %>
        <%= brewery.rating_summary %>
      <% end %>
    </p>
  <% end %>

</div>
