<h1>Breweries</h1>

<h2>Active</h2>

<p>Number of active breweries: <%= @active_breweries.count %></p>

<div id="breweries">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Established</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @active_breweries.each do |brewery| %>
      <tr>
        <th scope="row"><%= link_to brewery.name, brewery %></th>
        <td><%= brewery.year %></td>
        <td><%= brewery.average_rating %></td>
      </tr> 
      <% end %>
  </table>
</div>

<h2>Retired</h2>

<p>Number of retired breweries: <%= @retired_breweries.count %></p>

<div id="retired_breweries">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Established</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @retired_breweries.each do |brewery| %>
      <tr>
        <th scope="row"><%= link_to brewery.name, brewery %></th>
        <td><%= brewery.year %></td>
        <td><%= brewery.average_rating %></td>
      </tr> 
      <% end %>
  </table>
</div>

<p><%= link_to("New brewery", new_brewery_path, class:'btn btn-primary') if current_user %></p>
