<h1>Beers</h1>

<div id="beers">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Beer</th>
        <th scope="col">Style</th>
        <th scope="col">Brewery</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @beers.each do |beer| %>
        <tr>
          <th scope="row"><%= link_to beer.name, beer %></th>
          <td><%= link_to beer.style, beer.style.name %></td>
          <td><%= link_to beer.brewery.name, beer.brewery %></td>
          <td><%= round(beer.average_rating) %></td>
        </tr>
      <% end %>
  </table>
</div>

<%= link_to('New Beer', new_beer_path, class:'btn btn-primary') if current_user %>
