<%= render @beer %>

<div>
  <% if current_user %>
    <h4>Give a rating:</h4>

    <%= form_with(model: @rating) do |form| %>
      <%= form.hidden_field :beer_id %>
      Score: <%= form.number_field :score %>
      <%= form.submit "Create rating", class:"btn btn-primary" %>
    <% end %>
  <% end %>
    <br>
  <%= edit_and_destroy_buttons(@beer)%>
  <%= link_to "Back to beers", beers_path %>
</div>
