<h1>Beer places search</h1>

<%= form_with url: places_path, method: :post do |form| %>
  City <%= form.text_field :city %>
  <%= form.submit "Search" %>
<% end %>
<div id="places">
  <% if @places %>
  <h3><%= "Beer places in #{@places.first.city}" %></h3>
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Zip</th>
        </tr>
      </thead>
      <% @places.each do |place| %>
        <tr>
          <th scope="row"><%= link_to place.name,  place_path(place.id)%></th>
          <td><%= place.status %></td>
          <td><%= place.zip %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
